#movies {
    padding: 1em;
    background-color: lightgoldenrodyellow;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3em 2em;
}
body {
   margin: 0;
}
.movie {
    background-color: azure;
    border-style: groove;
    border-radius: 10px;
}

.title {
    padding: 10px;
    background-color: lightgreen;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
.title:hover {
    background-color: rgb(44, 178, 32);
}
.logo {
    color: gold;
}
.description {
    font-style: initial;
    font-family: serif;
    font-variant: inherit;
}